.about{
    background-color: #dfdcd0;
    height: 100vh;
}
.topic{
    font-family: "Arial";
    font-size: 1.2em;
    color: #000;
    font: bold;
}
@media screen and (max-width: 768px){
    .about{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #dfdcd0;
    }
    .topic{
        font-size: 20px;
    }
    
}