.navbar {
    position: fixed; /* Keeps the navbar fixed at the top */
    top: 0; /* Aligns the navbar to the top of the page */
    left: 0;
    width: 100%; /* Makes sure the navbar takes the full width of the page */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #dfdcd0; /* Adjust background color if needed */
    padding: 10px 0; 
    /* Adjust the padding for vertical spacing */
    z-index: 1000; /* Ensures the navbar stays above other elements */
    height: 80px; /* Adjust the height as needed */
}

.navbar-links {
    display: flex;
    list-style: none;
    gap: 20px;
    font-family: 'Modak'; /* Custom font */
    font-size: 24px;
    color: #57A0FF; /* Light blue color */
    cursor: pointer;
    align-items: center;
    text-shadow: 2px 2px 2px #ffffff;
}
.navbar-links li a{
    text-decoration: none;
    color: #57A0FF;
    text-shadow: 2px 2px 2px #060505;
} 
.navbar-img {
    position: relative;
    top: -40px; /* Moves Brian upwards out of the navbar */
    width: 100px; /* Adjust as needed */
    z-index: 1001; /* Ensure the image stays above the navbar */
    transform: rotate(180deg);
}



@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        height: auto; /* Adjust height for smaller screens */
    }

    .navbar-links {
        flex-direction: row; /* Arrange links horizontally */
        width: auto;
        justify-content: left;
        align-items: left;
        gap: 10px; /* Space between links */
    }

    .navbar-links li {
        width: auto;
        display: flex;
        justify-content: left;
        align-items: left;
    }
    .navbar-links #contact{
        display: none;
    }
    .navbar-img {
        display: none;
    }
}