.featured-container {
    text-align: center;
    background-color: #e0dbd2; /* Background color matching the image */
    padding: 20px;
    height: 100vh;
    padding-top: 100px;
  }
  
  .featured-title {
    font-family: 'Modak';
    font-size: 3rem;
    color: #4da6ff;
    text-shadow: 2px 2px 2px #ffffff;
  }
  
  .featured-projects {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 50px;
  }
  
  .project-box {
    width: 200px;
    height: 200px;
  }
  
  .dark-red {
    background-color: #4c2626;
  }
  
  .dark-grey {
    background-color: #333333;
  }
  
  .light-brown {
    background-color: #8c6e6e;
  }
  
  .dark-brown {
    background-color: #522626;
  }
  
  .stewie {
    position: absolute;
    width: 80px;
    height: auto;
  }
  
  .stewie-top {
    top: 60px;
    left: 180px;
  }
  
  .stewie-bottom {
    bottom: 60px;
    left: 180px;
  }
  
  .brian {
    position: absolute;
    top: 0;
    width: 180px;
    height: auto;
  }
  
  .brian-left {
    top: 20%;
    left: -450px;
  }
  
  .brian-right {
    top: 20%;
    right: -450px;
  }

.projectButton{
    background-color: aliceblue;
    color: black;
}
.title{
    font-family: 'Modak';
    color: rgb(232, 185, 33);
    text-shadow: 2px 2px 2px #131313;
    margin-top: 10px;
}
.description{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.techStacks{
    font-family: "Modak";
    margin-top: 15px;

}